@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

$fontMain: "Roboto", sans-serif;
$secondaryFont:'Poiret One', cursive;

$textLg: 3em;
$textMd: 2em;
$textSm: 1em;

$textBold: 700;
$textRegular: 600;
$textLigth: 300;

